<div class="container">
  <h1 class="my-3 text-center">About Todo App</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat animi
    dolor inventore eaque quam numquam delectus magni provident. Ullam et enim
    deleniti, obcaecati corrupti corporis dicta voluptatem adipisci. Sapiente
    blanditiis iste tenetur atque quod tempora molestias minima odio facilis
    impedit. Molestiae rem iusto minima repellendus. Quas asperiores voluptas
    rerum eligendi ut sequi cupiditate! Numquam beatae voluptas magni magnam
    itaque esse autem aliquam eligendi earum labore, adipisci quas dolorum
    nostrum veritatis laborum unde vitae nam ipsum illo consequuntur eveniet
    porro, corrupti hic nesciunt. Aperiam doloribus ratione reiciendis, quia
    distinctio nisi soluta beatae pariatur, in adipisci explicabo fugiat
    eligendi. Dolor a beatae maiores nemo, quisquam fugit perferendis
    reiciendis, illo harum repudiandae minus at debitis amet in nostrum, magni
    impedit culpa veniam enim delectus dolorum. Officia repellat eveniet qui
    sint facere non dicta error accusantium tenetur delectus iure
    exercitationem, quibusdam inventore quia, tempora quaerat repellendus
    recusandae officiis debitis esse, consectetur odio. Asperiores ex laudantium
    quas ut, mollitia magnam eveniet impedit nam laboriosam. Ea perspiciatis,
    velit reprehenderit libero sequi consequuntur distinctio iste totam
    laboriosam laudantium repellat quis cum ab architecto minus beatae.
    Blanditiis perferendis velit corporis quisquam iusto sequi doloribus natus
    similique vel, consequatur ipsa doloremque fugiat aliquid beatae, ipsam eos.
    Praesentium aspernatur odit commodi aut excepturi deleniti quis delectus
    molestiae iste nisi possimus est repudiandae accusamus saepe hic placeat
    aliquam accusantium corporis harum, quia et blanditiis eveniet totam!
    Voluptas fugit accusantium ab laboriosam a necessitatibus totam consequatur
    in voluptatum nam. Debitis atque repellat dolorem explicabo ratione ipsam
    rerum quae. Harum doloribus, eum enim, error, sunt accusamus dolores ut
    porro suscipit voluptate qui. Ea, ipsum. Earum facilis et voluptatem
    quibusdam amet enim illo deleniti eaque accusantium ea, dignissimos
    molestiae totam non at, vitae quaerat laboriosam fugiat! Sit perspiciatis
    voluptas quos beatae aperiam, doloremque ex. Magnam unde voluptatum eius
    excepturi quibusdam cupiditate illo delectus ea?
  </p>
</div>
